body{
    margin: 0;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px lightcoral;
    background-color: lavenderblush;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 82% 36%, 60% 100%, 40% 100%, 19% 33%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 82% 36%, 60% 100%, 40% 100%, 19% 33%, 0 100%);
    margin-top: 0;
    top:0;
    right: 0;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

canvas{
    border: 2px;
    border: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.collapsible {
    grid-row-start: 3;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: lightpink;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: lavenderblush;
}
.highScore{
    background-color: lavenderblush;
}