body{
    margin: 0;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    font-size: 60px;
    text-shadow: 2px 2px lightcoral;
    background-color: lavenderblush;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 82% 36%, 60% 100%, 40% 100%, 19% 33%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 82% 36%, 60% 100%, 40% 100%, 19% 33%, 0 100%);
    margin-top: 0;
    top:0;
    right: 0;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

canvas{
    position: absolute;
    z-index: 1;
    border: 2px;
    border: black;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.collapsible {
    grid-row-start: 3;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: lightpink;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: lavenderblush;
}
.highScore{
    background-color: lavenderblush;
}
#snake{padding-top: 10px}


#play-container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
#buttonDiv{
    z-index: 10;
    margin: auto auto;
    border-radius: 40px;
    border: darkgrey 40px solid;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-gap: 5px;
}
#playText{
    margin: 0 5px;
    grid-row: 1;
    grid-column: 1;
}
#play {
    margin: 0 auto 10px;
    grid-row: 2;
    grid-column: 1;
    padding: 3px;
    outline: none;
    box-shadow: 0 0 0 transparent;
    border: 0 solid transparent;
    text-shadow: 0 0 0 transparent;

}

#play:hover {
    background: gray;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;

}
#appleImg{
    display: none;
}